# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo

# ======================
# Virtual Environments
# ======================
venv/
.venv/

# ======================
# Machine Learning
# ======================
*.pt
*.onnx
*.engine
*.cache

# ======================
# Datasets (DO NOT COMMIT)
# ======================
data/
datasets/
images/
labels/

# ======================
# Outputs
# ======================
runs/
outputs/
screenshots/
videos/

# ======================
# OS / Editors
# ======================
.DS_Store
Thumbs.db
.ipynb_checkpoints/
